<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.jason.avengers.other">

    <application>
        <activity
            android:name=".activities.ChargingStationActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.RichEditorActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.drawer.DrawerActivity"
            android:theme="@style/AppTheme.NoActionBar.Transparent"/>
        <activity
            android:name=".activities.ParallelAdActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.ObjectBoxActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.MutilLabelActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".activities.OAClockActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".calendar.activities.CalendarActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".calendar.activities.OwnersActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".calendar.activities.OwnerDetailActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".calendar.activities.EventsActivity"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".calendar.activities.EventAddActivity"
            android:theme="@style/AppTheme"/>
    </application>
</manifest>
